.demo-container {
  display: flex;
  flex-wrap: wrap;
  & > * {
    width: 50%;
  }
  [class*='form-container'] {
    form {
      & > * {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
